.page-container {
    display: flex;
    flex-direction: row;
  }
  
  .Landing-navbar {
    background-color:inherit;
    height: 15%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
  }
  
  .Landing-search-bar {
    display: flex;
    align-items: center;
    width: 50%;
  }
  
  .Landing-search-bar input[type="search"] {
    padding: 10px;
    border-radius: 30px 5px 5px 30px ; 
    margin-right: 2px;
    width: 80%;
  }
  .Landing-search-bar button {
    background-color: #333;
    flex-grow: 1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px 30px 30px 5px;
    cursor: pointer;
  }
  
  .Landing-nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .Landing-nav-links li {
    margin-right: 20px;
    height:80% ;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #139cf7;
    border-radius: 5px;
    box-shadow: 2px 2px 5px  #4a4a4a;
  }
  
  .Landing-nav-links a {
    color: #040404;
    font-size: larger;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
  }
  
  .Landing-side-navbar {
    background-color: #f0f0f0;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Landing-div1, .Landing-div2 {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
  }
  
  .Landing-div1 {
    flex: 1;
  }
  
  .Landing-div2 {
    display: flex;
    justify-content: center;
  }

  .sNavbutton {
    height: fit-content;
    width: 100%; 
    flex: 1; 
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 5px; 
    background-color: #4CAF50;
    color: #fff; 
    cursor: pointer;
  }
  
  .sNavbutton:hover {
    background-color: #3e8e41; 
  }
